

.body{ align-content:center;font-weight:bolder;color:white;}
.iv{background-color: black;}

#nav bar
.nav
{background-color:rgb(174, 0, 255) ;color:black ;font-size:30px;flex-direction:initial;justify-content:space-around; display:flex;padding: 3%;}

#links
.fa-solid fa-house
{color: white;text-decoration:none}
.fa-solid fa-address-card
{color: white;text-decoration:none}
.fa-solid fa-blender-phone
{color: white;text-decoration:none}
.fa-solid fa-computer
{color: white;text-decoration:none}


.img 
{height: 500px;width:800px;float: right;}


.style{text-align:left;font-size: 25px;color: burlywood; }


.li
{text-align: left;font-size: 25px;color: burlywood;}


.p{text-align: left;font-size: 25px;color: burlywood;}
#footer
.h1{text-align:center;padding:2%;color:white}
.iv1{background-color: burlywood;}
.form{color:black;text-align: left;font-size: 25px;}
#smit{color:white;background-color: blueviolet;padding:2px;font-size: 10px;width:100px;height:20px;}
#fname{background-color: blueviolet;color: white;}
#for{background-color: black;color:burlywood;}
.img1{float:right;width:450px;height:220px;padding-bottom: 5px;}