.body {
  align-content: center;
  font-weight:bold;
  color: white;
}
.iv {
  background-color: rgb(218, 209, 209);
}

.nav {
  background-color: rgb(174, 0, 255);
  color: black;
  font-size: 30px;
  flex-direction: initial;
  justify-content: space-around;
  display: flex;
  padding: 3%;
}

.h1 {
  text-align: left;
  font-size: 28px;
  color: blueviolet;
}
.p1 {
  font-size: 25px;
  color: black;
}
.h3 {
  text-align: left;
  font-size: 28px;
  color: blueviolet;
}
.li {
  font-size: 25px;
  color: black;
}
#footer .h1 {
  text-align: center;
  padding: 2%;
  color: white;
}
.iv1 {
  background-color: burlywood;
}
.form {
  color: black;
  text-align: left;
  font-size: 25px;
}
#smit {
  color: white;
  background-color: blueviolet;
  padding: 2px;
  font-size: 10px;
  width: 100px;
  height: 20px;
}
#fname {
  background-color: blueviolet;
  color: white;
}
#for {
  background-color: black;
  color: burlywood;
}
.img1 {
  float: right;
  width: 450px;
  height: 220px;
  padding-bottom: 5px;
}
